# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
dbt_internal_packages/
.vscode/
package-lock.yml
scripts/_output/
__pycache__/
*.py[cod]